html {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  color: rgb(7, 7, 7);
  text-align: left;
  margin: auto;
  padding: 20px;
  max-width: 1000px;
}

.dark {
  color: rgb(255, 255, 255);
  background: rgb(61, 62, 63);
}