.tableContainer {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  padding: 20px;
}

.table__caption {
  color: rgb(134, 129, 130);
  font-size: 23px;
  text-shadow: 1px 2px 2px rgb(105, 51, 51);
  padding: 10px;
}

.table__caption--dark {
  color: white;
}

.table__cell {
  border: 2px solid rgb(233, 224, 224);
}

.table__cell--header {
  background-color: rgb(179, 172, 173);
}

.table__row:hover {
  background: rgb(179, 172, 173);
}